<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Matches</title>
</head>
<body>
    <h1>Поздравляем! У Вас мэтчи с {{ user.username }}</h1>
    <ul>
        {% for match in matches %}
            <li>
                <a href="{% url 'profile' match.id %}">{{ match.username }}</a>
            </li>
        {% empty %}
            <li>К сожалению, пока что мэтчей нет, но не теряйте надежду, всё впереди!</li>
        {% endfor %}
    </ul>
    <a href="{% url 'profile' user.id %}">Вернуться в профиль</a>
</body>
</html>
